<section class="sub-page-container">
    <h1 class="section-font section-header">Events</h1>
    <div id="event">
        {{#each event}}
        <div id="event-{{@index}}">
            <a href="https://{{link}}"><img class="image" src="{{image}}" alt="{{alt}}"></a>
            <div class="hide-event">
                <p><b>{{event-title}}<br>Location: {{location}}<br>{{date}}</b><br>{{{description}}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>