<!--Handlebars template to populate reviews section of articles.html-->
<section class="review-container">
<h1 class="section-font section-header">Reviews</h1>
    <div id="review-content">
            {{#each film}}
                <div class="review-item{{number}}">
                    <a><img class="image"  src="{{image}}" alt="{{alt-text}}"></a>
<!--                    overlays film info on hover-->
                    <div class="overlay-review">
                        <p>{{film-title}}<br>{{date}}<br>{{director}}</p>
                    </div>
                </div>
                <div class="button-container{{number}}">
<!--                    onclick uses @index to assign the review text to each button. Iteration is assigned in reviews.js-->
                    <a href="#review-text-container"><button type="button" id="review-button" class=" btn-dark btn-block button-text" onclick="changeText({{@index}})">{{film-title}}</button></a>
                </div>
            {{/each}}
    </div>
<!--    container to hold review text-->
<article id="review-text-container"></article>
</section>